.Unadopted
  font-size: 140%
  color: green
  text-decoration: underline
  animation: Unadopted 12s infinite

@keyframes Unadopted
  from
    transform: translateX(1%)
  to
    transform: translateX(80%)


