<p>form works!</p>


<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    Form submitted ? {{myForm.submitted}}
    Form valid ? {{myForm.valid}}
    Form invalid ? {{myForm.valid}}
  </div>

  <fieldset>
    <label for="img-order">Image</label>
    <input
      id="img-order"
      name="img-order"
      type="text"
      [(ngModel)]="model.imgUrl"
      #img="ngModel"
      required
      minlength="5"
      maxlength="300"
    />
  </fieldset>

  <!-- Message d'erreurs de image -->
  <div *ngIf="img.errors">
    <span *ngIf="img.errors?.['required']">L'image est requise</span>
    <span *ngIf="img.errors?.['minlength']"
    >La longueur minimale doit être supérieure à 5</span
    >
    <span *ngIf="img.errors?.['maxlength']"
    >La longueur maximale doit être inférieure à 300</span
    >
  </div>

  <fieldset>
    <label for="name-order">Name</label>
    <input
      id="name-order"
      name="name-order"
      [(ngModel)]="model.name"
      #name="ngModel"
      type="text"
      required
    />
  </fieldset>

  <!-- Message d'erreurs de nom -->
  <div *ngIf="name.errors">
    <span *ngIf="name.errors?.['required']"
    >Le nom est requis</span
    >
  </div>

  <fieldset>
    <label for="sex-order">Genre</label>
    <input
      id="sex-order"
      name="sex-order"
      type="text"
      [(ngModel)]="model.sex"
      #sex="ngModel"
      required
    />
  </fieldset>

  <!-- Message d'erreurs de sex -->
  <div *ngIf="sex.errors">
    <span *ngIf="sex.errors?.['required']">Le genre est requis</span>
  </div>

  <fieldset>
    <label for="color-order">Couleur</label>
    <input
      id="color-order"
      name="color-order"
      type="text"
      [(ngModel)]="model.color"
      #color="ngModel"
      required
      email
    />
  </fieldset>

  <!-- Message d'erreurs de couleur -->
  <div *ngIf="color.errors">
    <span *ngIf="color.errors?.['required']">La couleur est requise</span>
    <span *ngIf="color.errors?.['color']"
    >La couleur est requise</span
    >
  </div>

  <fieldset>
    <label for="race-order">Râce</label>
    <input
      id="race-order"
      name="race-order"
      type="text"
      [(ngModel)]="model.race"
      #race="ngModel"
      required
      minlength="5"
      maxlength="15"
    />
  </fieldset>
  <span
    *ngIf="race.invalid && race.dirty && race.touched"
  >
    <div *ngIf="race.errors">
      <span *ngIf="race.errors?.['required']"
      >La race est requise</span
      >
      <span *ngIf="race.errors?.['minlength']"
      >La longueur maximale doit être supérieure à 5</span
      >
      <span *ngIf="race.errors?.['maxlength']"
      >La longueur maximale doit être inférieure à 15</span
      >
    </div>
  </span>

  <fieldset>
    <label for="isAdopted-order">Est il adopté ?</label>
    <input
      id="isAdopted-order"
      name="isAdopted-order"
      type="text"
      [(ngModel)]="model.isAdopted"
      #isAdopted="ngModel"
      required

    />
  </fieldset>
  <span
    *ngIf="isAdopted.invalid && isAdopted.dirty && isAdopted.touched"
  >
    <div *ngIf="isAdopted.errors">
      <span *ngIf="isAdopted.errors?.['required']"
      >La le status est requis</span
      >
      <span *ngIf="isAdopted.errors?.['minlength']"
      >La longueur maximale doit être supérieure à 5</span
      >
      <span *ngIf="isAdopted.errors?.['maxlength']"
      >La longueur maximale doit être inférieure à 15</span
      >
    </div>
  </span>
  <button type="reset">Restaurer</button>
  <button type="submit" >Sauvegarder</button>
</form>
<!-- [disabled]="myForm.invalid" -->
