<app-header></app-header>
<h1>Bienvenue !!!!</h1>

<div class="img">
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4a9529e8-cf9b-4b7b-a70d-ad27fd90ae1c/d81ygpc-d5178179-2f65-40d5-bb01-65f0f2c9b24f.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRhOTUyOWU4LWNmOWItNGI3Yi1hNzBkLWFkMjdmZDkwYWUxY1wvZDgxeWdwYy1kNTE3ODE3OS0yZjY1LTQwZDUtYmIwMS02NWYwZjJjOWIyNGYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ENPZDknO28s6lZrXUucJGjRZ7eE6mqry-_Wj3Gep6KM" alt="image Rantanplan">
 <!-- <img src="https://i0.wp.com/lyonnaise69.l.y.pic.centerblog.net/Rantanplan.gif?zoom=2" alt="Rantanplan" > -->
</div>


